<!-- Filename: app_name/templates/index.html -->

<!DOCTYPE html>

<html>

<head>
<title>Petrichor Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!--  #TO DO CHECK IF THIS WORKS WITHOUT INTERNET {% load static %} <script type="text/javascript" src="{% static "/fusioncharts/fusioncharts.js" %}"></script> <script type="text/javascript" src="{% static "/fusioncharts/themes/fusioncharts.theme.fusion.js" %}"></script>   -->
{% load static %}
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script> 
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fint.js"></script> 


<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body>

<div class="row">
<div class="col-12">
<h1 class="text-center">Petrichor Rain Service Data Dashboard </h1>
</div>
</div>

<div class="row">
<div class="col-3">
<div class="card text-white bg-primary mb-3">
  <div class="card-body">
   <p class="card-title"><h6 class="text-center">Total rain fallen this month: </h6></p>
    <p class="card-text"><h4 class="text-center">{{ Rain_this_month|safe}} mm</h4></p>
  </div>
</div>
</div>

<div class="col-3">
<div class="card text-white bg-success mb-3">
  <div class="card-body">
     <p class="card-title"><h6 class="text-center">Historic rain fallen this month: </h6></p>
    <p class="card-text"><h4 class="text-center">{{ Historic_rain_this_month|safe}} mm</h4></p>
  </div>
</div>
</div>

<div class="col-3">
<div class="card text-white bg-warning mb-3">
  <div class="card-body">
     <p class="card-title"><h6 class="text-center">Total rain fallen this year: </h6></p>
    <p class="card-text"><h4 class="text-center">{{ Rain_this_year|safe }} mm</h4></p>
  </div>
</div>
</div>

<div class="col-3">
<div class="card text-white bg-info mb-3">
  <div class="card-body">
     <p class="card-title"><h6 class="text-center">Historic rain fallen this month: </h6></p>
    <p class="card-text"><h4 class="text-center">{{ Histori_rain_this_year|safe}} mm</h4></p>
  </div>
</div>
</div>
</div>

<div class="row">
</div>

<div class="row">
<div class="col-6">
<div id="Barchart-container">{{ output|safe }}</div>
</div>
<div class="col-6">
<div id="pie-container">{{ output2|safe }}</div>
</div>
</div>

<div class="row">
<div class="col-6">
<div id="area-container">{{ output3|safe }}</div>
</div>
<div class="col-6">
<div id='map' style='width: 600px; height: 400px;'></div>
  <script>
    mapboxgl.accessToken = {{ mapbox_access_token|safe }};
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/studentnatasja/cjx4fspk515em1cpj4cdii6l3',
	center: [6.848301865398478,-1.6961614998103869]
    });
	
    map.addControl(new mapboxgl.NavigationControl());
  </script>


</div>
</div>



</body>

</html>


