<!-- Filename: app_name/templates/index.html -->

<!DOCTYPE html>

<html>

<head>
<title>500 - Server Error</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style>
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottoms:15px;}
.error-actions .btn { margin-right:10px; }
</style>

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 class="display-1">
                    <strong>Oops!</strong>
                </h1>
                <h2>
                    500 Server Error
                </h2>
                <div class="error-details">
				<p class="lead">
				<em>
                    Sorry, an error has occured, The server gives an error!
					<em>
					</p>
                </div>
                <div class="error-actions">
                    <a href="http://petrichor-rain-system.herokuapp.com/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>


